
.icon img{
    height:30px;
    width: 30px;
}

.navbar{
    display: flex;
    align-items:center;
    justify-content:space-between;

}
#d{
    height:30px;
    width: 30px;

}
#d1{
    height:30px;
    width: 30px;

}
 #d2{
    height:30px;
    width: 30px;
 }
 .logo img{
    height:80px;
    
 }
 .option a{
    padding:20px;
    text-decoration:none ;
    text-align: center;
    position: relative;
    right:100px ;
    font-size:20px ;
    font-weight:bolds  ;
 }
 .content1{
    text-align: center;

 }
 video{
    position:fixed;
    z-index:-1 ;
    height:100% ;
    width:100% ;
    right:0px; 
    bottom: 0px;
    
 }
